/* New Password Page Styles */
.new-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .new-password-title {
    font-size: 1.5rem;
    color: black;
  }
  
  .new-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .new-password-input {
    width: 100%;
    padding: 12px;
    font-size: 1.125rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .new-password-input:focus {
    border-color: #4b2c35;
  }
  
  .new-password-btn {
    width: 100%;
    padding: 13px;
    font-size: 1.125rem;
    color: white;
    background: #4b2c35;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .new-password-btn:hover {
    background: #9e9e7b;
    color: black;
  }
  
  .new-password-btn:disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 480px) {
    .new-password-container {
      width: 90%;
      padding: 30px;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .new-password-container {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .new-password-container {
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .new-password-container {
      max-width: 450px;
    }
  }
  